#!/usr/bin/env bash
set -euo pipefail

{{- if not .dot_workspace_create }}
exit 0
{{- else }}

root="$HOME/workspace"
personal="$root/personal"
work="$root/work"

if [[ -d "$personal" && -d "$work" ]]; then
  exit 0
fi

mkdir -p "$personal" "$work"

echo "Created workspace dirs: $personal $work"
{{- end }}
