# GitHub SSH
# Key material is provided out-of-band:
# - Generate locally (see dot_config/zsh/credentials.zsh)
Host github.com github-main
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519_github_main
    IdentitiesOnly yes

Host github-sub
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519_github_sub
    IdentitiesOnly yes
