#!/usr/bin/env zsh

export GIT_MAIN_NAME={{ (get . "dot_git_main_name" | default (get . "name" | default "")) | quote }}
export GIT_MAIN_EMAIL={{ (get . "dot_git_main_email" | default (get . "email" | default "")) | quote }}
export GIT_SUB_NAME={{ (get . "dot_git_sub_name" | default "") | quote }}
export GIT_SUB_EMAIL={{ (get . "dot_git_sub_email" | default "") | quote }}
